language: python
pcache: apt
install:
  - if [ "$TOXENV" == "py32" ]; then travis_retry pip install "virtualenv<14.0.0" "coverage==3.7.1"; fi
  - pip install tox
env:
  - TOXENV=py27
  - TOXENV=py32
  - TOXENV=py33
  - TOXENV=py34
script:
  - tox
before_install:
  - sudo add-apt-repository -y ppa:wnoronha/thrift
  - sudo apt-get update -qq
  - sudo apt-get install -qq thrift-compiler
after_success:
  - pip install python-coveralls
  - coveralls
